@keyframes vertical_box_1 {
	to {
		transform: translateX(-300%);
	}
}
@keyframes vertical_box_2 {
	to {
		transform: translateY(-300%);
	}
}
@keyframes vertical_box_3 {
	to {
		opacity: 0;
	}
}
@keyframes vertical_box_4 {
	to {
		transform: translateY(300%);
	}
}
@keyframes vertical_box_5 {
	to {
		transform: translateX(300%);
	}
}
@keyframes horizontal_box_1_3 {
	to {
		transform: translateX(-300%);
	}
}
@keyframes horizontal_box_2_4 {
	to {
		transform: translateX(300%);
	}
}
@keyframes loading {
    0% {
        content: '0%';
        color: #555555;
    }
    10% {
        content: '10%';
    }
    20% {
        content: '20%';
    }
    30% {
        content: '30%';
    }
    40% {
        content: '40%';
    }
    50% {
        content: '50%';
    }
    60% {
        content: '60%';
    }
    70% {
        content: '70%';
    }
    80% {
        content: '80%';
        color: #fff;
    }
    90% {
        content: '90%';
    }
    100% {
        content: '100%';
        color: #c5a57e;
    }
}
@keyframes loading_shadow {
    0% {
        box-shadow: 0px 0px 4px 8px #000 inset,
				    0px 0px 4px 8px #555555;           
    }
    10% {
        box-shadow: 0px 0px 4px 8px #000 inset,
				    0px 0px 4px 8px #555555;
    }
    20% {
        box-shadow: 0px 0px 4px 8px #000 inset,
				    0px 0px 4px 8px #555555;
        background: radial-gradient(circle, rgba(78,52,39,1) 25%, rgba(33,28,25,1) 69%);
    }
    30% {
        box-shadow: 0px 0px 4px 8px #000 inset,
				    0px 0px 4px 8px #555555;
    }
    40% {
        box-shadow: 0px 0px 4px 8px #000 inset,
				    0px 0px 4px 8px #555555;
    }
    50% {
        box-shadow: 0px 0px 4px 8px #000 inset,
				    0px 0px 4px 8px #555555;
    }
    60% {
        box-shadow: 0px 0px 4px 8px #000 inset,
				    0px 0px 4px 8px #555555;
        background: radial-gradient(circle, rgba(78,52,39,1) 35%, rgba(33,28,25,1) 75%);
    }
    70% {
        box-shadow: 0px 0px 4px 8px #000 inset,
				    0px 0px 4px 8px #555555;
        background: radial-gradient(circle, rgba(78,52,39,1) 45%, rgba(33,28,25,1) 75%);                
    }
    80% {
        box-shadow: 0px 0px 4px 8px #000 inset,
				    0px 0px 4px 8px #fff;
    }
    90% {
        box-shadow: 0px 0px 4px 8px #000 inset,
				    0px 0px 4px 8px #c5a57e;
    }
    100% {
        box-shadow: 0px 0px 4px 8px #000 inset,
				    0px 0px 4px 8px #c5a57e;
                    background: radial-gradient(circle, rgba(33,28,25,1) 45%, rgba(78,52,39,1) 80%);
    }
}
@keyframes main_box {
    to{
        transform: translateY(-100%);
    }
}
@keyframes scrollbar {
    from {
        overflow-y: hidden;
    }
    to {
        overflow-y: auto;
    }
}
@keyframes anchor {
    0% {
        opacity: 0;
    }
    99.9% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes slide {
    0% {
        transform: translateX(0px);
    }
    24.9% {
        transform: translateX(0px);
    }
    25% {
        transform: translateX(-464px);
    }
    49.9% {
        transform: translateX(-464px);
    }
    50% {
        transform: translateX(-930px);
    }
    74.9% {
        transform: translateX(-930px);
    }
    75% {
        transform: translateX(-464px);
    }
    99.9% {
        transform: translateX(-464px);
    }
    100% {
        transform: translateX(0px);
    }
}
@keyframes first_page {
    0%{
        transform: translateX(0px);
    }
    45% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(-1000px);
    }
    70% {
        transform: translateX(-1000px);
    }
    75% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(0px);
    }
}
@keyframes anchor_loading {
    0% {
        right: -100px;
    }
    99.9% {
        right: 33px;
    }
    100% {
        right: 33px;
    }
}